
.links{
    text-decoration: none; 
}
.hero__subtitle img {
    width: 2.3rem;
    height: 2.3rem;
}


.hero__content h1{
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--heading-color);
    
}


.hero__content h1 .highlight{
    color: var(--primary-color);
}

.hero__content p {
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 2rem;
}

.hero__img-box img {
width: 100%;
height: 350px;
border-radius: 20px;
object-fit: cover;

}

.hero__content {
    padding-top: 3.5rem;
}

.hero__img-box{
    padding-top: 2rem;
}

.services__subtitle {
 font-size: 2.2rem;
 font-weight: 500;
 color: #ee6e6e;
 font-family: var(--subtitle-font-name);
}

.services__title {
font-size: 2.5rem;
font-weight: 500;
}

.featured__tour-title{
    font-size: 2.3rem;
    font-weight: 500;
}

.experience__content h2 {
    font-size: 2.3rem;
    margin-top: 1rem;
    font-weight: 500;
    margin-top: 170px;
}

.experience__content h2 .highlight {
    color: var(--primary-color);
}

.experience__content p {
    font-size: 1.1rem;
    color: var(--text-color);
    margin-top: 1rem;
}

.counter__box span {
    width: 50px;
    height: 50px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    border-radius: 10px 5px 10px 5px;
}

.counter__box h6 {
    font-size: 1.1rem;
    margin-top: 0.7rem;
    color: var(--text-color);
}

.experience__img img {
    margin: auto;
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: right;
    margin-bottom: 20px;
}


.gallery__title {
    font-size: 2.3rem;
    margin-bottom: 2.5rem;
    margin-top: 1rem;
}

.masonry__img{
    
    display: flex;
    transition: 0.3s;
}

.masonry__img:hover {
    transform: scale(1.1);
}

.testimonial__title{
    font-size: 2.3rem;
    margin-top: 0.5rem;
}

.title_div{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.title_div p{
    color: rgb(61, 226, 241);
    border: 1px solid var(--primary-color);
    padding: 5px 20px;
    border-radius: 50px;
    color: var(--heading-color);
    font-weight: 600;
    cursor: pointer;
}
.title_div p:hover{
    background-color: var(--primary-color);
    color: #fff;
}
@media only screen and (max-width:992px){
    .hero__content h1{
        font-size: 2.5rem;
    }

    .hero__img-box{
        display: none;
    }
    .img-box{
     display: block;
    }
    .services__title , 
    .featured__tour-title, 
    .gallery__title, 
    .testimonial__title, .experience__content h2{
        font-size: 2rem;
    }
    .experience__img{
     margin-top: 2rem;   
    }
    .section_subtitle{
        margin-top: 50px;
    }
    .section__title{
        margin-bottom: 20px;
    }
    .experience__content{
        text-align: center;
        margin-top: -150px;
    }
    .experience__content p{
        display: none;
    }
}

@media only screen and (max-width:576px){
 .hero__content h1 {
    font-size: 1.8rem;
 }
 .services__title,
  .featured__tour-title,
   .gallery__title, 
   .testimonial__title, .experience__content h2 {
    font-size: 1.5rem;
 }
}