
.footer {
    padding-top: 70px;
    padding-bottom: 30px;
}

.footer .footer_logo img {
    width:50%;
    margin-bottom: 1rem;
}

.footer .footer_logo p {
    color: var(--text-color);
}

.social__icon{
    background: #000;
}

.social__links span a {
    text-decoration: none;
    color: var(--heading-color);
    font-size: 1.2rem;
}

.footer__link-title {
    color: var(--heading-color);
    margin-bottom: 1rem;
}

.footer__quik-links li a {
    text-decoration: none;
    color: var(--text-color);
    font-size:1.1rem;
}

.footer__quik-links h6 span i {
    color: var(--secondary-color);
    font-size: 1.1rem;   
}

.copyright {
     color: var(--text-color);
     font-size: 1rem;
}

.socials {
    display: flex;
    gap: 10px;
    align-items: center;
}


.socials a {
    color: #333;
    font-size: 24px;
    transition: color 0.3s ease;
    text-decoration: none;
}

.socials a:hover i.ri-linkedin-fill {
    color: #00a6ff; /* LinkedIn blue */
}

.socials a:hover i.ri-github-fill {
    color: #070707; /* GitHub black */
}

.socials a i.ri-linkedin-fill {
    color: #1e85bc; /* LinkedIn blue */
}

@media only screen and (max-width:768px){
    .footer {
        padding-top: 70px;
        padding-bottom: 30px;
        text-align: center;
        
    }
    
    .footer .footer_logo img {
        width:30%;
        margin-bottom: 1rem;

    }
    
    .footer .footer_logo p {
        color: var(--text-color);
    }
    
    .social__links span a {
        text-decoration: none;
        color: var(--heading-color);
        font-size: 1rem;
    }
    
    .footer__link-title {
        color: var(--heading-color);
        margin-bottom: 1rem;
        margin-top: 20px;
    }
    .footer__quik-links {
        text-align: center;
       align-items: center;
       justify-content: center;
       margin-top: 20px;
    }
    
    .footer__quik-links li a {
        text-decoration: none;
        color: var(--text-color);
        font-size:1.1rem;
        
    }
    
    .footer__quik-links h6 span i {
        color: var(--secondary-color);
        font-size: 1.1rem;   
    }
    
    .copyright {
         color: var(--text-color);
         font-size: 1rem;
}}